---
---

@import "{{ site.theme }}";

body {
  color: #4A4A4A;
}

h1 {
  color: #6d6d6d;
}

h3 {
  color: #303030d4;
  margin-top: 1rem;
}

header h1, a {
  color: #C63527;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #91281d;
}

header h2 {
  color: #6d6d6d;
}

ol {
  margin-left: 2rem;
  margin-top: 1rem;
}

ol li {
  margin-bottom: 0.5rem;
}

footer {
  color: #333;
}

a[name] {
  color: #6d6d6d;
  text-decoration: none;
}

/* Navbar CSS adapted from
https://dev.to/supanthapaul/create-a-simple-navbar-with-7-lines-of-css-4h7f
 */

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  list-style: none;
  padding-left: 1rem;
}

nav ul li a {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial;
  font-size: 18px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/*
  Extra small devices (phones, 600px and down)
*/
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  nav li {
    padding: 0.5rem 0;
  }
}
